.webContainer {
  width: 100%;
  height: auto;
}

.header {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin: auto;
  width: 200px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.kanban {
  display: flex;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
  width: auto;
  background: #00b09b; /* fallback for old browsers */
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
  border-radius: 5px;
}

.kanban * {
  font-family: sans-serif;
}

.kanban__column {
  flex: 1;
}

.kanban__column:not(:last-child) {
  margin-right: 30px;
}

.kanban__column-title {
  margin-bottom: 20px;
  font-size: 30px;
  color: white;
  user-select: none;
}

.kanban__item-input {
  padding: 10px 15px;
  box-sizing: border-box;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;

  resize: none;
  height: auto;
  width: 100%;
}

.kanban__dropzone {
  height: 10px;
  transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
  height: 20px;
  background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back {
  text-align: center;
}

.center {
  margin: auto;
  width: 50%;
}

.tutorial {
  padding-left: 1cm;
  width: 40px;
}

#dialog {
  background: linear-gradient(to right, #43cea2, #185a9d);
  height: 10rem;
  margin-top: 3rem;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
}

#dialog-close {
  background: linear-gradient(45deg, #0ccda3, #c1fcd3);
  margin-left: 50rem;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
}

#hint {
  background: linear-gradient(45deg, #0ccda3, #c1fcd3);
}
p {
  font-weight: bolder;
  font-family: system-ui;
  margin-left: 3rem;
}
